server-port
Usage:
  git ignore-io <types>...                    Show gitignore template
                [-a|--append] <types>...      Append new .gitignore content to .gitignore under the current directory
                [-r|--replace] <types>...      Export new .gitignore to the current directory (The old one will be replaced)
                [-l|--list-in-table]          Print available types in table format
                [-L|--list-alphabetically]    Print available types in alphabetical order    
                [-s|--search] <word>          Search word in available types
                [-t|--show-update-time]       Show the last modified time of ~/.gi_list (where the list of available types is stored)
                [-u|--update-list]            Update ~/.gi_list
node_modules
example.png
screenshots
