[Unit]
Description=nginx container

[Service]
ExecStart=/usr/bin/docker start -a ng1080
ExecStartPost=/bin/sleep 1

ExecStop=/usr/bin/docker stop ng1080
